$(".profile-message").removeClass("d-none");
<% if resource.errors.present? %>	
	$('#message_container').html("<%= escape_javascript(render partial: 'shared/messages', locals: {flash: flash})%>")
	$(".profile-message").addClass("d-none");
<% else %>
	_html = "<div class='col-md-12'><div class='alert alert-success profile-message'><button type='button' class='close' data-dismiss='alert'>x</button>Profile updated successfully</div></div>";
	$("#profile_alert_box").html(_html);
<% end %>

