<div class="container mt-5">
   <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <!--Start Add Task Block-->
          <div class="add-task p-4">
            <ul>
              <!--Start Add Single Task-->
              <li>
                <div class="checkbox checkbox-success pull-left">
                    <input id="check1" class="styled" type="checkbox">
                    <label for="check1" class="m-0">
                        Task Name
                    </label>
                </div>
                <div class="pull-right icon-fa">
                  <a href="#">
                    <i class="fa fa-trash"></i>
                  </a>
                </div>
              </li>
              <!--End Add Single Task-->
              <!--Start Add Single Task-->
              <li>
                <div class="checkbox checkbox-success pull-left">
                    <input id="check2" class="styled" type="checkbox">
                    <label for="check2" class="m-0">
                        Task Name
                    </label>
                </div>
                <div class="pull-right icon-fa">
                  <a href="#">
                    <i class="fa fa-trash"></i>
                  </a>
                </div>
              </li>
              <!--End Add Single Task-->
              <!--Start Add Single Task-->
              <li>
                <div class="checkbox checkbox-success pull-left">
                    <input id="check3" class="styled" type="checkbox">
                    <label for="check3" class="m-0">
                        Task Name
                    </label>
                </div>
                <div class="pull-right icon-fa">
                  <a href="#">
                    <i class="fa fa-trash"></i>
                  </a>
                </div>
              </li>
              <!--End Add Single Task-->
            </ul>
          </div>
          <!--End Add Task Block-->
        </div>
      </div>
      <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-success mt-3">Add Task</button>
        <button type="button" class="btn btn-outline-dark mt-3">Add Thoughts</button>
      </div>
      </div>
    </div> 
   </div>
</div>