<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-3 mt-5">
        Total User
        <span class="badge badge-primary">3</span>
      </h2>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="pt-3 pb-3 border-bottom">
        <h4 class="mb-0">Name</h4>
        <a href="#" class="text-muted">info@gmail.com</a>
        <div class="mb-3"></div>
        <p class="mb-1"><i class="fa fa-check-square text-success"></i> Single navbar example of a static top navbar</p>
        <p class="mb-1"><i class="fa fa-check-square text-success"></i> Single navbar example of a static top navbar</p>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="pt-3 pb-3 border-bottom">
        <h4 class="mb-0">Name</h4>
        <a href="#" class="text-muted">info@gmail.com</a>
        <div class="mb-3"></div>
        <p class="mb-1"><i class="fa fa-check-square text-success"></i> Single navbar example of a static top navbar</p>
        <p class="mb-1"><i class="fa fa-check-square text-success"></i> Single navbar example of a static top navbar</p>
      </div>
    </div>
  </div>  
</div>
