<div class="height">
  <div class="row">
    <div class="col-md-8">
      <h3 class="mb-1 mt-5">
        Total Users
        <span class="badge badge-primary"><%= @users.present? ? @users.count : 0 %></span>
      </h3>
    </div>
  </div>
  <table class="table mt-3 admin-users-list">
    <thead>
      <tr class="text-center">
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Task / Streak </th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @users.present? &&  @users.each_with_index do |user, index| %>
        <tr class="text-center" id="user_<%= user.id %>">
          <%= render partial: 'user', locals: { user: user } %>          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>





