<li class='nested-fields add-thougt-box new-thought-box'>
  <div class="mt-3">
    <div class="form-group">
      <%= f.cktext_area :title, class: 'm-0 thought-area form-control editor new-thought-area' %>
      <%= f.hidden_field :thought_date, value: @key %>
    </div>
    <div class="icon-fa close-thought">
      <%= link_to_remove_association f, :partial => 'new_thought_fields' do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>   
  </div>
</li>