<div class="col-md-12 nested-fields">
  <div class="add-task p-4 add-task-list">
    <ul class ="add-thought-list">
      <li>
        <div class="pull-left">
          <!-- <label for="check<%#= f.object.id %>"  class="m-0"> -->
      			<%= f.text_area :title, class: 'm-0 thought-area' %>
          </label>
        <!-- </div> -->

        <%= f.hidden_field :thought_date, value: @key %>
        <div class="pull-right icon-fa">
          <%= link_to_remove_association f, :partial => 'new_thought_fields' do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </div>
      </li>
    </ul> 
  </div>
</div>