<% today_tasks = today_task(f, key, user) %>
<% completed_tasks = today_tasks.completed_tasks %>
<div class="progress float-right ml-2" data-percentage="<%= completed_percentage(today_tasks, completed_tasks) %>">
  <span class="progress-left">
    <span class="progress-bar"></span>
  </span>
  <span class="progress-right">
    <span class="progress-bar"></span>
  </span>
  <div class="progress-value">
  </div>
</div>
<div class="float-right ml-2 mt-2">
  <small class="text-muted"><%= completed_status(today_tasks, completed_tasks) %></small>
</div>