<div class="row">
  <div class="col-md-12">
    <div class="login mt-5">
      <h1>Please Confirm Your Account</h1>
      <%= form_tag(user_password_path, method: :put) do %>
        <div class="form-group">
          <%= hidden_field_tag 'user_id', @user.id %>
          <%= hidden_field_tag "verify_code",{}, {class: "form-control", id: "verify_code"} %>
          <label for="verify_code" class="font-normal">Please enter verification code sent to your email:</label>
          <input type="text" id="password-pincode-input" class="form-control">
        </div>

        <div class="form-group">
          <label for="new_password">Enter New Password:</label>
          <%= password_field_tag "new_password", nil, {class: "form-control", id: "verify_code"} %>
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-success btn-custom">Verify</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#password-pincode-input').pincodeInput({
    inputs:6,
    hideDigits: false,
  complete : function(value, e, errorElement){
    $('#verify_code').val(value);
  }
  
});
</script>