<div class="container-height p-4 stats-height">
	
	<div class="row mt-3 mb-5">
		<div class="col-md-2">
			<h4>Your Stats</h4>
		</div>

		<div class="col-md-6 text-right" id="stats_count">
			<%= render partial: 'stats_count', locals: {range_filter: false} %>
		</div>
		<div class="col-md-4">
			<%= form_tag user_stats_path(user_id: @user.id), class: " range-filter", id: "date_range_form", method: :get, remote: true do %>
				<%= text_field_tag 'daterange',nil, class: "form-control", id: 'datefiler' %>
			<% end %>
		</div>
	</div>
	<div id="stats_chart">
		<%= render partial: 'stats_chart_section' %>
	</div>
</div>



