<div class="container pt-4 pb-4">
  <div class="row">
    <div class="col-md-6">
      <a href="#">
        <%= image_tag 'logo.png', alt: '', class: 'logo-footer' %>
      </a>
    </div>
    <div class="col-md-6 text-right pt-2">
        <p class="copy-right">COPYRIGHT © 2018 ALL RIGHTS RESERVED</p>

    </div>
  </div>
</div>