<% today_tasks = today_task(f, key, current_user) %>
<% completed_tasks = today_tasks.completed_tasks %>


<div class="progress-loader float-right ml-2" id="progress_loader_<%=key%>" data-animation="1" data-animationStep="5" data-percent="<%= completed_percentage(today_tasks, completed_tasks) %>"></div>

<div class="float-right ml-2 mt-2">
  <small class="text-muted"><%= completed_status(today_tasks, completed_tasks) %></small>
</div>