<li class="nested-fields ui-state-default add-task-box bt-1" id="task_<%= task.id %>" data-id="<%= task.id %>" data-pos="<%= task.sort %>">
  
    <%= render partial: 'todos/task_detail', locals: {task: task} %>  

</li>

<script type="text/javascript">
  function auto_grow(element) {
    console.log('sdfsd')
    element.style.height = "23px";
    element.style.height = (element.scrollHeight)+"px";
  }
</script>