.mention {
  font-size: 90%;
  font-weight: normal;
  background-color: #dee2e6;

}

.mention .delete-mention {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  margin-left: 5px;
  cursor: pointer;
}

.icon-remove:before {
  content: 'x';
  display: inline-block;
  speak: none;
}

.temp-mention {
  background-color: #000000;
  color: #ffffff;
}

.mentions-kinder-multiline {
  height: auto;
  word-wrap: break-word;
  padding-left: 0;
  padding-top: 8px;
  padding-bottom: 2px;
}

.mentions-kinder-multiline p {
  margin: 0;
}

.mentions-kinder-wrap {
  padding-left: 30px;
}

.mentions-kinder:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: #FBFBFB !important;
}

.mentions-kinder-wrap .placeholder {
  color: #A39999;
}

.mentions-kinder-singleline {
  white-space: nowrap;
  overflow: hidden;
}

.mentions-kinder-singleline * {
  display: inline;
  white-space: nowrap;
}

.mentions-kinder-hidden, .mentions-kinder-hidden:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}